.filter__list {
    padding-top: 60px;
    margin-bottom: 25px;
    // padding-top: 94px;
    // margin-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    // flex-wrap: nowrap;
    // justify-content: center;
}

.filter__item {
    margin-bottom: 15px;

    &:not(:last-child){
        margin-right: 8px;
    }
    // margin-right: 9px;
}

.filter__button {
    padding: 6px 22px;

    background-color: var(--background-gray-color);
    color: var (--text-black-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:last-child {
        margin: 0;
    }

    &:hover,
    &:focus {
        background-color: var(--text-blue-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

