.header {   
    height: 60px;

    display: flex;
    align-items: center;
   
    border-bottom: 1px solid #ececec;
    padding-top: 16px;
    padding-bottom: 16px;
    

    @media screen and (min-width: 768px) {
       height: 80px;
    }
}

.header__container {
    @media screen and (max-width: 767px) {
        width: 100%;
     }
}

.header__main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--static-svg-black-color);
}

.header-logo {
    color: var(--text-black-color);
}


/* Навигация */

.main-navigation_button-menu {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;

    top:10px;
    right: 15px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        color: var(--hover-svg-blue-color);
    }
    
    @media screen and (min-width:768px) {
        display: none;
    }
}

.main-navigation_button-menu-icon {
    fill: currentColor;
}


.main-navigation__list {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
        margin-left: 88px;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        margin-left: 93px;
    }

    
}

.main-navigation__link {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--static-svg-black-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:visited {
        color: var(--text-black-color);
    }
    
    &:hover,
    &:focus {
        color: var(--text-blue-color);
        fill: var(--hover-svg-blue-color);
    }

}

/* Подчеркивание активной страницы */

.main-navigation__item {
    display: none;


    @media screen and (min-width:768px) {
        display: block;
        position: relative;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

     // position: relative;

    // &:not(:last-child) {
    //     margin-right: 50px;
    // }
}

.main-navigation__link.current {

    @media screen and (min-width:768px) {
    color: var(--text-blue-color);

        &::after {
            content: '';
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: var(--btn-hover-blue-color);
            border: 2px solid var(--btn-hover-blue-color);
            border-radius: 2px;
            bottom: -1px;
             }
    }
}

.header__contacts-list {
    display: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    @media screen and (min-width:768px) {
        display: block;
        margin-left: auto;
    
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--text-gray-color);

    }

    @media screen and (min-width:1200px) {
        display: flex;

        margin-left: auto;
    }
}

.header__contacts-item{
    @media screen and (min-width:768px) and (max-width:1199px) {
       &:not(:last-child) {
           margin-bottom: 10px;  
       }
    }

     @media screen and (min-width:1200px) {

        
        &:not(:last-child) {
            margin-right: 30px;  
        }
    }
}

.header__contacts-link {
    display: none;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
        display: inline-block;
        color: var(--text-gray-color);
        text-decoration: none;

        &.email{
            padding-top: 21px;
            padding-bottom: 5px;
        }

        &.tel{
            padding-top: 5px;
            padding-bottom: 21px;
        }
    }

    @media screen and (min-width:1200px) {
        display: flex;

        &.email {
            padding-top: 32px;
            padding-bottom: 32px
        }
        &.tel {
            padding-top: 32px;
            padding-bottom: 32px
        }

    }
    

    &:hover,
    &:focus {
        color: var(--text-blue-color);
        fill: var(--hover-svg-blue-color);
    }

}

.header__contacts-icon-email {
    display: none;

    @media screen and (min-width:768px) {
        display: inline-block;
        fill: currentColor;
        width: 14px;
        height: 10px;
        margin-right: 8px;
    }

    @media screen and (min-width:1200px) {
        width: 16px;
        height: 12px;
        margin-right: 10px;
    }
}

.header__contacts-icon-telephone {
    display: none;

    @media screen and (min-width:768px) {
        display: inline-block;
        fill: currentColor;
        width: 10px;
        height: 14px;
        margin-right: 8px;
    }

    @media screen and (min-width:1200px) {
        height: 16px;
        margin-right: 10px;
    }
}
