.header {   
    height: 60px;

    display: flex;
    align-items: center;
   
    border-bottom: 1px solid #ececec;
    padding-top: 16px;
    padding-bottom: 16px;
    

    // @media screen and (min-width: 480px) and (max-width:767px){
    //    
    // }
}

.header__container {
    width: 100%;
}

.header__main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    color: var(--static-svg-black-color);
}

.header-logo {
    color: var(--text-black-color);
}


/* Навигация */

.main-navigation_button-menu {
    
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
    
    // @media screen and (min-width:768px) {
    //     display: none;
    // }
}


.main-navigation__list {
    display: none;
    // display: flex;
    // margin-left: 93px;
}

.main-navigation__link {
    display: none;
    // display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;

    // color: var(--static-svg-black-color);
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    // text-decoration: none;

    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:visited {
    //     color: var(--text-black-color);
    // }
    
    // &:hover,
    // &:focus {
    //     color: var(--text-blue-color);
    //     fill: var(--hover-svg-blue-color);
    // }

}

/* Подчеркивание активной страницы */

.main-navigation__item {
    display: none;
    // position: relative;

    // &:not(:last-child) {
    //     margin-right: 50px;
    // }
}

.main-navigation__link.current {
//     color: var(--text-blue-color);

//     &::after {
//         content: '';
//         position: absolute;
//         display: flex;
//         width: 100%;
//         justify-content: center;
//         background-color: var(--btn-hover-blue-color);
//         border: 2px solid var(--btn-hover-blue-color);
//         border-radius: 2px;
//         bottom: -1px;
//     }
 }

.header__contacts-list {
    display: none;
//     display: flex;
//     margin-left: auto;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
// }

// .header__contacts-item:not(:last-child) {
//     margin-right: 50px;
}

.header__contacts-link {
    display: none;
//     color: var(--text-gray-color);
//     text-decoration: none;

//     padding-top: 32px;
//     padding-bottom: 32px;

//     display: flex;
//     align-items: center;

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--text-blue-color);
//         fill: var(--hover-svg-blue-color);
//     }
}

.header__contacts-icon-email {
    display: none;
//     fill: currentColor;
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
}

.header__contacts-icon-telephone {
    display: none;
//     fill: currentColor;
//     width: 10px;
//     height: 16px;
//     margin-right: 10px;
}