.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
        url(../images/hero-bgr-min/hero-bgr-mob-min-1x.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {    

        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgr-min/hero-bgr-mob-min-2x.jpg);

    }
    @media screen and (min-width: 768px){
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgr-min/hero-bgr-tab-min-1x.jpg);
    }
    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {    
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgr-min/hero-bgr-tab-min-2x.jpg);

    }
     @media screen and (min-width: 1200px){
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgr-min/hero-bgr-desk-min-1x.jpg);
    }
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {    
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgr-min/hero-bgr-desk-min-2x.jpg);

    }

}

.hero__title {
    margin-bottom: 30px;

    color: var(--white-color);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;

    
    // font-size: 44px;
    // line-height: 1.36;
}

.hero__button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px 32px;

    border-radius: 4px;
    background-color: var(--text-blue-color);
    color: var(--white-color);
    border: 1px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--btn-hover-blue-color);
        color: var(--white-color);
    }
}
