.main-advantages {
    padding-top: 94px;
    padding-bottom: 47px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.main-advantages__list {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}

.main-advantages__item {
    margin-bottom: 30px;


    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 30px) / 2 );
    }

    // @media screen and (min-width:1230px) {
    //     width: 270px;
    // }
    

    // &+.main-advantages__item {
    //     margin-left: 30px;
    // }

    &::before {
        content: '';
        display: block;
        height: 120px;

        margin-bottom: 30px;

        background-color: #f5f4fa;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px;

        border-radius: 4px;
    }

    &.antenna::before {
        background-image: url(../images/icons/antenna.svg);
    }

    &.clock::before {
        background-image: url(../images/icons/clock.svg);
    }

    &.diagram::before {
        background-image: url(../images/icons/diagram.svg);
    }

    &.astronaut::before {
        background-image: url(../images/icons/astronaut.svg);
    }
}

.item__title {

    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        text-align: left;
    }

}

.item__description {
    color: var(--text-gray-color);
    font-size: 14px;
    line-height: 1.7;
}