.personal {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-gray-color);
    text-align: center;

    // padding-top: 94px;
    // padding-bottom: 94px;
}


.personal__list {
    // display: flex;
}

.personal__title {
    margin-bottom: 30px;
    // margin-bottom: 50px;
}

.personal__card {
    padding-bottom: 24px;
    margin-bottom: 30px;
    background-color: var(--white-color);
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    // flex-basis: calc((100% - 90px) / 4);
    // margin-right: 30px;
    // max-height: 428px; 
    // padding-bottom: 30px;
    // display: inline-block;
    
    // &:nth-child(4n) {
    //     margin-right: 0;
    // }
}

.personal__picture {
    max-width: 450px;
}

.personal__card-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.personal__card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--text-gray-color);
    margin-bottom: 16px;
}

.personal__card-social-links-list {
    display: inline-flex;
}