.project__list {
    padding-bottom: 60px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1200px) {
        flex-wrap: wrap;
        padding-bottom: 94px;
    }


}

.project__card {

    max-width: 450px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width:480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);

        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }

        &:nth-first-child(2n) {
            margin-bottom: 60px;
        }

        &:first-of-type .project__card-content {
            padding-bottom: 56px;
        }
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 60px) / 3);
        height: 404px;

        margin-right: 30px;
        margin-bottom: 30px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(-3 + n) {
            margin-bottom: 0;
        }

        &:first-of-type .project__card-content {
            padding-bottom: 30px;
        }
    }


    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

        cursor: pointer;
    }

    &-text-overlay {
        position: absolute;
        content: '';

        width: 100%;
        height: 100%;

        text-align: center;

        padding: 25px 25px;
        font-size: 14px;

        line-height: 1.56;

        @media screen and (min-width: 480px) {
            text-align: left;
            font-size: 18px;
            padding: 49px 24px;
        }

        @media screen and (min-width: 1200px) {
            text-align: left;
            font-size: 18px;
            padding: 63px 24px;
        }

        transform: translateY(+100%);

        color: #ffffff;
        background-color: rgba(33, 150, 243, 0.9);

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .project__card-text-overlay,
    &:focus .project__card-text-overlay {
        transform: translateY(0);
    }
}


.project__card-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;

    border: 1px solid #eeeeee;
    border-top: 0px;
}

.project__title {
    margin-bottom: 4px;
    text-align: start;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__description {
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-gray-color);
}

.project__thumb {
    position: relative;
    display: flex;
    overflow: hidden;
}
