.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-check {
  width: 1.2998046875em;
}

.icon-input_mail {
  width: 1.3330078125em;
}

.icon-logo_brand {
  width: 1.7666015625em;
}

.icon-logo_com_tag_line {
  width: 1.7666015625em;
}

.icon-logo_com_tagline_here {
  width: 1.7666015625em;
}

.icon-logo_company {
  width: 1.7666015625em;
}

.icon-logo_foster_peters {
  width: 1.7666015625em;
}

.icon-logo_yaco {
  width: 1.7666015625em;
}

.icon-mail {
  width: 1.3330078125em;
}

.icon-smartphone {
  width: 0.625em;
}
