body {
    color: var(--text-black-color);
    background-color: var(--white-color);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
}

h1,
h2,h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    color: var(--text-black-color);
}