:root {
    --background-dark-gray-color: #2f303a;
    --background-gray-color: #f5f4fa;
    --text-blue-color: #2196f3;
  
    --hover-svg-blue-color: #2196f3;
    --static-svg-grey-color: #afb1b8;
    --static-svg-black-color: #212121;
  
    --btn-hover-blue-color: #188ce8;
    --text-black-color: #212121; /* Primary text color */
    --text-gray-color: #757575;
    --text-color-white-transparent: rgba(255, 255, 255, 0.6);
    --white-color: #ffffff; /* Primaty background c  */
}